# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth

'background-tips, .tree-view, atom-text-editor.vim-mode-plus:not(.insert-mode)':
  # core app stuff
  'space f s': 'core:save'
  'space b d': 'core:close' # buffer delete
  'space b c': 'core:close' # buffer close
  'space q q': 'application:quit'
  'space a k': 'application:open-your-keymap'
  'space a r': 'window:reload'
  'space a s': 'application:show-settings'

  # file and command palette
  'space :'    : 'command-palette:toggle'
  'space b b'  : 'fuzzy-finder:toggle-buffer-finder'
  'space b f'  : 'fuzzy-finder:toggle-buffer-finder'
  'space g f'  : 'fuzzy-finder:toggle-git-status-finder'
  'space s a p': 'fuzzy-grep:toggle'
  'space s s'  : 'fuzzy-grep:toggleLastSearch'
  'space f f'  : 'fuzzy-finder:toggle-file-finder'
  'space p f'  : 'fuzzy-finder:toggle-file-finder'
  'space f r'  : 'recent-finder:toggle'
  'space f y'  : 'editor:copy-project-path'

  # windows/panes
  'space 1'  : 'window:focus-pane-on-left'
  'space 2'  : 'window:focus-pane-on-right'
  'space b n': 'pane:show-next-item'             # 'buffer next'
  'space b p': 'pane:show-previous-item'         # 'butter preview'

  'space w w':     'window:focus-next-pane'
  'space w H':     'paner:split-left'
  'space w J':     'paner:split-down'
  'space w K':     'paner:split-up'
  'space w L':     'paner:split-right'
  'space w v':     'paner:split-right'
  'space w c':     'pane:close'                  # 'window close' ('vim' window)
  'space w x':     'paner:swap-item'
  'space w X':     'paner:send-item'
  'space w k':     'paner:very-top'
  'space w j':     'paner:very-bottom'
  'space w h':     'paner:very-left'
  'space w l':     'paner:very-right'
  'space w enter': 'vim-mode-plus:maximize-pane'

  'space s c': 'window:close'                    # 'screen close'
  'space t t': 'tree-view:toggle'                # 'files toggle'
  'space p t': 'tree-view:toggle'                # 'project toggle'
  'space f t': 'tree-view:reveal-active-file'    # 'file reveal'

  # Surround family
  'space y s'  : 'vim-mode-plus:surround'
  'space y s w': 'vim-mode-plus:surround-word'
  'space y m s': 'vim-mode-plus:map-surround'
  'space d S'  : 'vim-mode-plus:delete-surround'
  'space d s'  : 'vim-mode-plus:delete-surround-any-pair'
  'space c S'  : 'vim-mode-plus:change-surround'
  'space c s'  : 'vim-mode-plus:change-surround-any-pair'

  # git commands
  'space g s'  : 'git-plus:status'
  'space g a'  : 'git-plus:add'
  'space g c'  : 'git-plus:commit'
  'space g b'  : 'blame:toggle'
  'space g h n': 'git-diff:move-to-next-diff'
  'space g h p': 'git-diff:move-to-previous-diff'
  'space g h l': 'git-diff:toggle-diff-list'
  'space g g'  : 'git-plus:menu'
  'space g d'  : 'git-plus:diff'
  'space g t'  : 'git-time-machine:toggle'

  # lint / annotations
  'space e n'  : 'linter:next-error'
  'space e p'  : 'linter:previous-error'
  'space e N'  : 'linter:previous-error'
  'space e e'  : 'linter:lint'
  'space t m f': 'linter:toggle'
  'space e t'  : 'linter:toggle'

  # editor view options
  'space t n': 'editor:toggle-line-numbers'
  'space t i': 'editor:toggle-indent-guide'
  'space t w': 'editor:toggle-soft-wrap'
  'space t v': 'window:toggle-invisibles'

  # bookmarks
  'space j m': 'bookmarks:toggle-bookmark'
  'space j c': 'bookmarks:clear-bookmarks'
  'space j n': 'bookmarks:jump-to-next-bookmark'
  'space j p': 'bookmarks:jump-to-previous-bookmark'

  # misc actions
  'space g q'  : 'autoflow:reflow-selection'
  'space space': 'easy-motion-redux:words_starting'

# Bindings for 'Narrow' plugin
'atom-text-editor.vim-mode-plus.normal-mode':
  'space n l': 'narrow:lines'
  'space n f': 'narrow:fold'
  'space o': 'narrow:fold'
  'space n s c': 'narrow:search-current-project'
  'space n s s': 'narrow:search'
  'space n c': 'narrow:focus'
